<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jail Record Input</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesjr.css') }}">
</head>
<body>

    <div class="container">
        <h2>Jail Record Input Form</h2>
        <div id="error-message" class="error"></div>
        <form id="jail-form" action="/submit_jail" method="POST">
            <div class="form-group">
                <label for="record_id">Record ID:</label>
                <input type="text" id="record_id" name="record_id" aria-label="Record ID" required>
            </div>
            <div class="form-group">
                <label for="preson_id">Person ID:</label>
                <input type="text" id="preson_id" name="preson_id" aria-label="Person ID" required>
            </div>
            <div class="form-group">
                <label for="reason">Reason:</label>
                <input type="text" id="reason" name="reason" aria-label="Reason" required>
            </div>
            <div class="form-group">
                <label for="enter_date">Enter Date:</label>
                <input type="date" id="enter_date" name="enter_date" aria-label="Enter Date" required>
            </div>
            <div class="form-group">
                <label for="release_date">Release Date:</label>
                <input type="date" id="release_date" name="release_date" aria-label="Release Date">
            </div>
            <button type="submit">Submit Record</button>
        </form>
    </div>


</body>
</html>
